body {
  background: #f1f5f9;
  font-family: Arial, sans-serif;
}

.header {
  background: #059669;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.logout {
  background: black;
  color: white;
  border: none;
  padding: 6px 12px;
}

main {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.info {
  color: blue;
}

.warning {
  color: red;
  font-weight: bold;
}
